:root {
    --primary-color: #F5D44A;
    --primary-color-lighter: #fce37e;
    --primary-color-darker: #aa8c14;
    --secondary-color: #5E65F7;
    --secondary-color-darker: #1118A8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    background-color: var(--secondary-color-darker);
    display: flex;
    justify-content: center;
    align-items: center;

}

#root {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 80px;
    max-width: 800px;
    background-color: var(--primary-color);
    border: 5px solid var(--primary-color-darker);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);

}

.main .title {
    font-family: 'Sora', sans-serif;
    padding: 10px 0;
    text-align: center;
}

.main .text-aligned-to-center {
    text-align: center;
}

.footer {
    font-family: 'Sora', sans-serif;
    font-size:  30px;
    background-color: var(--primary-color);
    border-top: 5px solid var(--primary-color-darker);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
}

.footer .logo {
    width: 150px;
    animation: App-logo-spin infinite 15s linear;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@media (max-width: 530px) {
    .footer {
        font-size: 20px;
    }

    .footer .logo {
        width: 100px;
    }
}
/* @media (max-width: 430px) {
    .footer {
        font-size: 15px;
    }
} */